<h1>Your Cart</h1>

<table class="cart">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.each do |product| %>
      <tr>
        <td><%= link_to image_tag(product.image_url), product, { style: "width: 60" } %></td>
        <td><%= link_to product.name, product %></td>
        <td><%= product.description %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', root_path %>