<h1>Your Cart</h1>

<table>

<tbody>
	<% @cart.each do |id, quantity| %>
		<% product = Product.find_by(id) %>
		<tr>
			<td width="100"><%= image_tag product.image_url, :width => 100 %></td>
			<td width="100"><%= product.name %></td>
			<td width="100"><%= quantity %></td>
			<td width="100"><%= number_to_currency product.price, unit: 'PLN', format: '%n %u' %></td>
			<td width="100"><%= number_to_currency product.price * quantity, unit: 'PLN', format: '%n %u' %></td>
		</tr>
	<% end %>
</tbody>
</table>

<%= link_to 'Back', root_path %>