<h1>Your Cart</h1>

<table class="cart">
  <thead>
    <tr>
      <th></th>
      <th>Product</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

<tbody>
    <% @cart.cart_items.each do |item| %>
      <tr>
        <td><%= link_to image_tag(item.product.image_url), item, { style: "width: 60" } %></td>
        <td><%= link_to item.product.name, item %></td>
        <td><%= item.product.description %></td>
        <td><%= number_to_currency item.product.price, unit: 'PLN', format: '%n %u' %></td>
        <td><%= link_to 'Remove', cart_item_url(item), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>  
</table>

<%= link_to 'Back', root_path %>