<h3 class="text-left">Products for Sale</h3>
<ul>
	<header><b>Bugs & features</b></header>
	<li>Dodać sumowanie tych samych dodanych produktów</li>
	<li>Dodać akcję 'update' w kontrolerze cart_items oraz formularz do zmiany ilości wybranych produktów</li>
	<li>Dodać AJAX do formularzy</li>
	<li>Po potwierdzeniu zamówienia odjąć ilość od stanu magazynowego</li>
	<li>Dodać zapisywanie ilości wizyt danego klienta</li>
	<li>Dodać wysyłanie potwierdzenia:
	<ul>
		<li>Mail</li>
		<li>Pdf</li>
	</ul></li>
</ul>

<table>
	<% @products.each do |product| %>
	<tr>
		<td><%= link_to image_tag(product.image_url), product %></td>
		<td>
		<div class="name"><%= link_to product.name, product %></div>
		<div class="description"><%= product.description %></div>
		<div class=price>Price: <%= number_to_currency product.price, unit: 'PLN', format: '%n %u' %></div>
		<div class="quantity">In stock: <%= product.stock  %></div>
		</div>
		</td>
	</tr>
	<% end %>
</table>
<br />

<%= link_to 'New product', new_product_path %>