<% provide(:title, "Products") %>

<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<h3 class="text-left">Products for Sale</h3>
<table>
	<% @products.each do |product| %>
	<tr>
		<td><%= link_to image_tag(product.image_url), product %></td>
		<td>
		<div class="name"><%= link_to product.name, product %></div>
		<div class="description"><%= product.description %></div>
		<div class= "price">Price: <%= number_to_currency product.price, unit: 'PLN', format: '%n %u' %></div>
		<div class="quantity">In stock: <%= product.stock  %></div>
		</div>
		</td>
	</tr>
	<% end %>
</table>
<br />

<%= link_to 'New product', new_product_path %>